.main {
  height: 256px;
  width: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}
.tree {
  .textoverflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .databaseTitle {
    display: flex;
    align-items: center;
    width: 100%;

    .textoverflow {
      flex: 1;
      min-width: 0;
    }
  }
  .envTag {
    flex-shrink: 0;
    margin: 0 0 0 8px;
  }
  :global {
    .ant-tree-treenode {
      width: 100%;
    }
    .ant-tree-node-content-wrapper {
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: flex;
      .ant-tree-title {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 8px;
      }
    }
  }
}
