.line {
  display: flex;
  align-items: center;
  height: 32px;
  padding-left: 16px;
  color: var(--text-color-secondary);
}
.content {
  display: flex;
  align-items: center;
}

.collapseIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 100%;
  margin-right: 2px;
  color: var(--text-color-secondary);
  cursor: pointer;
  &:hover {
    color: var(--text-color-link);
  }
}

.link {
  cursor: pointer;
  &:hover {
    color: var(--text-color-link);
  }
}
.aim {
  padding: 8px 6px;
  color: var(--text-color-secondary);
  &:hover {
    color: var(--text-color-link);
  }
}
